/* Importing a modern font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #244242 0%, #4b9b9b 130%);
}

/* Hero Section Styling */
.hero-section {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 40px 15px;
    gap: 30px;
}

.text-content {
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px rgba(0, 2, 0, 0.5);
    padding: 15px;
    background-color: #2d5353;
    border-radius: 15px;
}

    .text-content h1 {
        font-size: 2.5rem;
        color: #00e6e6;
        margin-bottom: 10px;
    }

    .text-content p {
        margin-top: 15px;
        font-size: 1rem;
        color: #b3ffff;
        line-height: 1.5;
        padding-bottom: 15px;
    }

.image-container {
    margin-top: -2%;
    text-align: center;
}

    .image-container img {
        text-align: center;
        max-width: 100%;
        height: auto;
        border-radius: 20px;
        padding: 15px;
    }

/* Button Styling */
button {
    width: 180px;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid;
    border-radius: 10px;
    background: #00e6e6;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    button:hover {
        background-color: #113c3c;
        transform: translateY(-5px);
    }

    button:focus {
        outline: none;
    }

/* Highlighted Text Styling */
.highlight {
    font-style: italic;
    color: #0288d1;
}

/* Responsive Styling for Mobile */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 20px;
        gap: 20px;
        height: auto;
    }

    .text-content {
        max-width: 100%;
    }

    .image-container {
        max-width: 100%;
        margin-left: 10px;
    }

    .text-content h1 {
        font-size: 2rem;
    }

    .text-content p {
        font-size: 0.95rem;
    }

    button {
        width: 160px;
        padding: 10px;
        font-size: 15px;
    }
}

/* Header and Link Styling */
.header {
    margin-bottom: 300px;
    position: absolute;
    top: 10px;
    right: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.delete-data-link {
    text-align: center;
    text-decoration: none;
    color: #b3ffff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #00e6e6;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

    .delete-data-link:hover {
        background-color: #fff;
        color: #000;
    }

/* Note and Scroller Styling */
.note {
    font-size: 0.8em;
    color: #8A8A8A;
    position: relative;
    margin-top: 2em;
}

    .note::after {
        content: '';
        width: 20%;
        height: 2px;
        border-radius: 999px
    }

.scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 10em;
}

    .scroller > span {
        position: absolute;
        top: 0;
        animation: slide 5s infinite;
        font-weight: bold;
    }

@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: -1.2em;
    }

    50% {
        top: -2.4em;
    }

    75% {
        top: -3.6em;
    }
}
