* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}

body {
	background-color: #a6daf7;
}

.hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 50px 20px;
}
.text-content {
    margin-top: 50px; /* Push text down */
    text-align: center; /* Center-align the text */
}
/* Adjust font sizes for better readability on mobile */
.text-content h1 {
	font-size: 2rem; /* Smaller font size for mobile */
	color: #063d96;
	margin-bottom: 10px;
}

.highlight {
	font-style: italic;
}

.text-content p {
	margin-top: 20px;
	font-size: 1em; /* Adjusted for mobile */
	color: #0d2140;
	word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.image-container {
	margin-top: 20px; /* Reduced top margin */
}

.image-container img {
	max-width: 90%; /* Allow some space on the sides */
	height: auto;
	border-radius: 15px; /* Slightly smaller border-radius */
}

@media (min-width: 768px) {
	.hero-section {
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
	}

	.text-content {
		max-width: 50%;
	}

	.text-content h1 {
		font-size: 3rem; /* Increase for larger screens */
	}

	.image-container {
		max-width: 40%;
	}
}

button {
	width: 200px;
	padding: 20px;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
	border: none;
	border-radius: 50px;
	background: #fff;
	color: #43b9fa;
	border: 2px solid #43b9fa;
	text-align: center;
}

.twenty {
	background: #fff;
	color: #43b9fa;
	border: 2px solid #43b9fa;
	border-radius: 50px;
	padding-left: 0;
	padding-right: 0;
}

.twenty span {
	position: relative;
	position: 400ms;
}

.button-box {
	width: 250px;
	height: 150px;
	margin: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.note::after {
  content: '';
  width: 20%;
  height: 2px;
  border-radius: 999px;
  position: absolute;
  top: -1.8em;
  left: 0;
}

.note {
  font-size: 0.8em;
  color: #8A8A8A;
  position: relative;
  margin-top: 4em;
}

.scroller {
	height: 1.2em;
	margin: auto;
	position: relative;
	overflow: hidden;
	width: 18em;
	transform: translate(-25%, 0%);
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
  
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

.header {
    position: absolute;
    top: 15px;
    right: 0px;
    font-family: 'Roboto', sans-serif;
}

.delete-data-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.delete-data-link:hover {
    background-color: #fff;
    color: #000;
}
