body {
    font-family: 'Roboto', sans-serif;
    background-color: #e6e6ff; /* Match desktop background color */
    color: #d1dbd2; /* Match desktop text color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.chat-container {
    border-radius: 15px;
    padding: calc(3% + 10px);
    background-color: #f2f2ff; /* Match desktop chat-container background color */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Match desktop box shadow */
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.chat {
    margin-top: calc(4% + 5px);
    margin-bottom: calc(1% + 5px);
    overflow-y: auto;
    max-height: calc(85% - 10px);
}

    .chat::-webkit-scrollbar {
        width: 1px;
    }

    .chat::-webkit-scrollbar-track {
        background-color: #2d5353; /* Match desktop scrollbar track */
    }

    .chat::-webkit-scrollbar-thumb {
        background-color: #004d4d; /* Match desktop scrollbar thumb */
        border-radius: 30px;
        border: 3px solid #00cccc; /* Match desktop scrollbar thumb border */
    }

.chat-message {
    border-radius: 30px;
    padding: calc(1% + 5px) calc(3% + 5px);
    display: inline-block;
    max-width: calc(85% - 10px);
    margin-bottom: calc(1% + 5px);
    word-wrap: break-word;
    font-size: calc(2.5rem + 1vw);
    border: 2px solid #ccccff; /* Match desktop message border color */
}

.bot-message {
    background-color: #3a3946; /* Match desktop bot message background color */
    color: #b2b2d1; /* Match desktop bot message text color */
    float: left;
    clear: both;
}

.user-message {
    background-color: #ccccff; /* Match desktop user message background color */
    color: #b2b2d1; /* Match desktop user message text color */
    float: right;
    clear: both;
}

.user-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(2.5% + 15px);
    background-color: #b0b0d3; /* Match desktop input background color */
    position: absolute;
    left: 50%;
    bottom: calc(5vh);
    transform: translateX(-50%) translateY(5%);
    width: calc(98% - 20px);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.user-input-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(10px + 1%);
    padding: calc(1.6% + 10px);
    background-color: #b0b0d3; /* Match desktop input background color */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    border-radius: 10px;
    text-align: center;
}

    .user-input-footer a {
        color: #494966; /* Match desktop link color */
        text-decoration: none;
        font-size: calc(1.5rem + 1vw);
        transition: color 0.3s ease;
    }

        .user-input-footer a:hover {
            color: #c0c0f2; /* Match desktop link hover color */
        }

input[type="text"] {
    flex: 1;
    padding: calc(1% + 5px) calc(3% + 5px);
    border: none;
    border-radius: 20px;
    margin-right: calc(1% + 5px);
    background-color: #3a3946; /* Match desktop input field background */
    color: #fff;
    border: 2px solid #ccccff; /* Match desktop input border color */
    font-size: calc(2rem + 1vw);
}

    input[type="text"]::placeholder {
        color: #a0a0a0;
    }

button {
    padding: calc(1% + 5px) calc(3% + 5px);
    background-color: #ccccff; /* Match desktop button background color */
    color: #494966; /* Match desktop button text color */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: calc(2rem + 1vw);
}

    button:hover {
        background-color: #c0c0f2; /* Match desktop button hover background color */
    }

.header {
    position: absolute;
    top: calc(5px + 1%);
    right: calc(10px + 1%);
    font-family: 'Roboto', sans-serif;
}

.header-button {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: calc(0.5rem + 1vw);
    cursor: pointer;
    padding: calc(2px + 0.5%);
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

    .header-button:hover {
        background-color: #fff;
        color: #000;
    }

/* Dropdown CSS */
.dropbtn {
    color: #c0c0f2; /* Match desktop dropdown button color */
    padding: 16px;
    font-size: 16px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #b0b0d3; /* Match desktop dropdown background color */
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 16px;
    bottom: 100%;
    margin-bottom: 8px;
}

    .dropdown-content a {
        color: #494966; /* Match desktop dropdown link color */
        background-color: #b0b0d3; /* Match desktop dropdown background color */
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    color: #c0c0f2; /* Match desktop hover effect */
}

.show {
    display: block;
}
